$black: #222;
$white: #ececec;

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  background-color: white;
  font-size: 16px;
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
  &:visited, &:active {
    color: inherit;
  }

}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -365px;
  margin-left: -500px;
}

@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow: inset $top $left $blur $color;
    -moz-box-shadow: inset $top $left $blur $color;
    box-shadow: inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}

.border {
  border: 1px solid $white;
  width: 1000px;
  height: 676px;
  position: relative;
  background-image: url(../img/cream_pixels.png);
  @include box-shadow(3px, 3px, 5px, #ccc);
}

.center-image {
  display: block;
  width: 960px;
  height: 562px;
  margin: 20px auto 0;
  position: relative;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25), 0 0 50px rgba(0, 0, 0, 0.1) inset;
}

.title-wrapper {
  position: absolute;
  top: 300px;
  text-align: center;
  width: 100%;
  z-index: 100;
  text-decoration: none;
  text-shadow: 2px 2px #000000;

  .vidtitle, span {
    color: $white;
  }
  .vidtitle {
    font-size: 85px;
  }
}

.play {
  height: 130px;
  width: 130px;
  position: relative;
  top: -6px;
  left: -36px;
  &:hover {
    background-color: $black;
    opacity: 1;
    border-radius: 100px 100px;
  }

}

.hover-bold {
  &:hover {
    font-weight: bold;
  }
}

.info {
  font-size: .7em;
}

.nav {
  color: $black;

  .nav-left, .nav-right, .nav-center {
    float: left;
    padding: 0 2% 0 2%;
    width: 29.33%;

  }

  .nav-left {
    text-align: left;
  }

  .nav-right {
    text-align: right;
    ul {
      margin-top: 0;
    }

  }

  .nav-header {
    font-size: 2.2em;
    margin-bottom: -5px;
  }
}

.fadein-appear {
  opacity: .1;
  &.fadein-appear-active {
    opacity: 1;
    transition: opacity 1.2s ease-in;
  }
}
